In [1]:
# Import dependencies

import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [3]:
# Read csv

df=pd.read_csv('USA_HistoricEmissions.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      21 non-null     object
 1   Data source  21 non-null     object
 2   Sector       21 non-null     object
 3   Gas          21 non-null     object
 4   Unit         21 non-null     object
 5   2019         21 non-null     float64
 6   2018         21 non-null     float64
 7   2017         21 non-null     float64
 8   2016         21 non-null     float64
 9   2015         21 non-null     float64
 10  2014         21 non-null     float64
 11  2013         21 non-null     float64
 12  2012         21 non-null     float64
 13  2011         21 non-null     float64
 14  2010         21 non-null     float64
 15  2009         21 non-null     float64
 16  2008         21 non-null     float64
 17  2007         21 non-null     float64
 18  2006         21 non-null     float64
 19  2005         21 non-null     float64
 20  2004         21 non-null     float64
 21  2003         21 non-null     float64
 22  2002         21 non-null     float64
 23  2001         21 non-null     float64
 24  2000         21 non-null     float64
 25  1999         21 non-null     float64
 26  1998         21 non-null     float64
 27  1997         21 non-null     float64
 28  1996         21 non-null     float64
 29  1995         21 non-null     float64
 30  1994         21 non-null     float64
 31  1993         21 non-null     float64
 32  1992         21 non-null     float64
 33  1991         21 non-null     float64
 34  1990         21 non-null     float64
dtypes: float64(30), object(5)
memory usage: 5.9+ KB

In [4]:
df.size

735

In [5]:
df.shape

(21, 35)

## Data Cleaning

In [6]:
df

,Country,Data source,Sector,Gas,Unit,2019,2018,2017,2016,2015,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,United States,Climate Watch,Energy,CO2,MtCO₂e,4776.82,4936.34,4779.05,4855.06,4950.80,...,5568.78,5551.08,5504.79,5236.18,5079.96,5030.50,4960.37,4846.64,4774.76,4811.04
1,United States,Climate Watch,Electricity/Heat,CO2,MtCO₂e,1958.27,2096.77,2064.52,2145.51,2234.02,...,2769.65,2800.15,2742.50,2504.04,2423.43,2360.70,2335.52,2276.97,2179.91,2159.79
2,United States,Climate Watch,Transportation,CO2,MtCO₂e,1757.35,1762.24,1724.02,1711.22,1700.05,...,1686.18,1640.36,1602.13,1577.19,1537.76,1506.90,1454.19,1430.66,1399.67,1426.97
3,United States,Climate Watch,Building,CO2,MtCO₂e,550.59,550.68,497.90,496.47,512.54,...,567.35,548.57,600.06,616.37,580.04,575.85,585.57,565.06,555.18,545.48
4,United States,Climate Watch,Manufacturing/Construction,CO2,MtCO₂e,439.05,454.06,429.41,439.02,433.88,...,499.36,512.74,506.73,485.92,486.80,534.85,532.42,517.64,566.88,604.44
5,United States,Climate Watch,Energy,CH4,MtCO₂e,414.50,380.21,343.81,329.48,349.84,...,256.64,261.76,262.51,261.26,259.55,257.66,250.05,255.48,255.36,257.09
6,United States,Climate Watch,Agriculture,CH4,MtCO₂e,202.14,202.39,198.84,198.21,191.76,...,202.50,203.43,205.31,206.13,206.73,205.97,201.32,200.94,198.23,196.96
7,United States,Climate Watch,Agriculture,N2O,MtCO₂e,179.70,181.60,182.02,183.25,178.31,...,172.22,173.87,173.68,174.21,169.08,171.54,166.27,165.51,160.70,160.86
8,United States,Climate Watch,Industrial Processes,F-Gas,MtCO₂e,174.03,169.66,165.29,160.92,161.05,...,142.42,145.82,130.98,124.38,115.29,97.57,94.45,94.74,90.15,99.39
9,United States,Climate Watch,Energy,N2O,MtCO₂e,55.04,56.19,54.93,55.16,55.04,...,51.37,50.79,49.99,49.01,47.90,46.82,45.56,44.98,43.63,44.14
10,United States,Climate Watch,Transportation,N2O,MtCO₂e,45.51,45.80,44.69,44.67,43.94,...,36.89,36.03,35.30,34.94,34.33,33.48,32.31,31.81,30.87,31.43
11,United States,Climate Watch,Industrial Processes,CO2,MtCO₂e,40.90,38.97,40.32,39.44,39.91,...,40.24,39.46,38.56,37.31,37.08,36.31,34.84,32.99,32.74,33.48
12,United States,Climate Watch,Industrial Processes,N2O,MtCO₂e,23.45,22.76,22.07,21.38,20.04,...,23.09,24.04,28.56,35.20,34.81,31.29,30.94,29.31,31.13,31.56
13,United States,Climate Watch,Transportation,CH4,MtCO₂e,12.81,12.85,12.80,12.87,12.65,...,12.08,11.80,11.45,11.29,11.10,10.84,10.54,10.39,10.12,10.20
14,United States,Climate Watch,Electricity/Heat,N2O,MtCO₂e,6.06,6.95,7.18,7.37,7.88,...,10.78,11.99,11.98,11.28,10.79,10.65,10.51,10.27,9.87,9.89
15,United States,Climate Watch,Building,CH4,MtCO₂e,5.85,5.24,4.25,4.54,5.14,...,5.41,5.88,5.85,6.83,6.76,6.33,6.46,1.96,1.93,1.82
16,United States,Climate Watch,Manufacturing/Construction,N2O,MtCO₂e,2.18,2.23,2.03,2.03,2.04,...,2.47,1.50,1.43,1.31,1.35,1.31,1.32,1.48,1.52,1.54
17,United States,Climate Watch,Manufacturing/Construction,CH4,MtCO₂e,1.37,1.40,1.27,1.26,1.27,...,1.52,0.91,0.87,0.79,0.81,0.78,0.78,0.88,0.90,0.91
18,United States,Climate Watch,Electricity/Heat,CH4,MtCO₂e,1.23,1.29,1.26,1.30,1.35,...,1.63,2.31,2.30,2.14,2.04,2.10,2.03,2.04,1.96,1.95
19,United States,Climate Watch,Building,N2O,MtCO₂e,1.14,1.05,0.88,0.93,1.03,...,1.09,1.17,1.16,1.38,1.34,1.28,1.31,0.58,0.59,0.60
20,United States,Climate Watch,Industrial Processes,CH4,MtCO₂e,0.28,0.28,0.28,0.28,0.21,...,0.39,0.40,0.41,0.39,0.36,0.35,0.34,0.28,0.29,0.29

In [7]:
# Drop the Data Source column
df=df.drop(columns=['Data source', 'Country'])
df

,Sector,Gas,Unit,2019,2018,2017,2016,2015,2014,2013,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Energy,CO2,MtCO₂e,4776.82,4936.34,4779.05,4855.06,4950.80,5067.77,5055.73,...,5568.78,5551.08,5504.79,5236.18,5079.96,5030.50,4960.37,4846.64,4774.76,4811.04
1,Electricity/Heat,CO2,MtCO₂e,1958.27,2096.77,2064.52,2145.51,2234.02,2376.19,2378.54,...,2769.65,2800.15,2742.50,2504.04,2423.43,2360.70,2335.52,2276.97,2179.91,2159.79
2,Transportation,CO2,MtCO₂e,1757.35,1762.24,1724.02,1711.22,1700.05,1639.85,1646.94,...,1686.18,1640.36,1602.13,1577.19,1537.76,1506.90,1454.19,1430.66,1399.67,1426.97
3,Building,CO2,MtCO₂e,550.59,550.68,497.90,496.47,512.54,545.08,528.01,...,567.35,548.57,600.06,616.37,580.04,575.85,585.57,565.06,555.18,545.48
4,Manufacturing/Construction,CO2,MtCO₂e,439.05,454.06,429.41,439.02,433.88,437.26,434.89,...,499.36,512.74,506.73,485.92,486.80,534.85,532.42,517.64,566.88,604.44
5,Energy,CH4,MtCO₂e,414.50,380.21,343.81,329.48,349.84,348.54,325.08,...,256.64,261.76,262.51,261.26,259.55,257.66,250.05,255.48,255.36,257.09
6,Agriculture,CH4,MtCO₂e,202.14,202.39,198.84,198.21,191.76,191.45,190.92,...,202.50,203.43,205.31,206.13,206.73,205.97,201.32,200.94,198.23,196.96
7,Agriculture,N2O,MtCO₂e,179.70,181.60,182.02,183.25,178.31,179.37,180.02,...,172.22,173.87,173.68,174.21,169.08,171.54,166.27,165.51,160.70,160.86
8,Industrial Processes,F-Gas,MtCO₂e,174.03,169.66,165.29,160.92,161.05,159.16,154.04,...,142.42,145.82,130.98,124.38,115.29,97.57,94.45,94.74,90.15,99.39
9,Energy,N2O,MtCO₂e,55.04,56.19,54.93,55.16,55.04,54.83,54.64,...,51.37,50.79,49.99,49.01,47.90,46.82,45.56,44.98,43.63,44.14
10,Transportation,N2O,MtCO₂e,45.51,45.80,44.69,44.67,43.94,42.47,42.36,...,36.89,36.03,35.30,34.94,34.33,33.48,32.31,31.81,30.87,31.43
11,Industrial Processes,CO2,MtCO₂e,40.90,38.97,40.32,39.44,39.91,39.44,36.37,...,40.24,39.46,38.56,37.31,37.08,36.31,34.84,32.99,32.74,33.48
12,Industrial Processes,N2O,MtCO₂e,23.45,22.76,22.07,21.38,20.04,20.59,18.83,...,23.09,24.04,28.56,35.20,34.81,31.29,30.94,29.31,31.13,31.56
13,Transportation,CH4,MtCO₂e,12.81,12.85,12.80,12.87,12.65,12.29,12.21,...,12.08,11.80,11.45,11.29,11.10,10.84,10.54,10.39,10.12,10.20
14,Electricity/Heat,N2O,MtCO₂e,6.06,6.95,7.18,7.37,7.88,8.90,8.87,...,10.78,11.99,11.98,11.28,10.79,10.65,10.51,10.27,9.87,9.89
15,Building,CH4,MtCO₂e,5.85,5.24,4.25,4.54,5.14,6.33,6.08,...,5.41,5.88,5.85,6.83,6.76,6.33,6.46,1.96,1.93,1.82
16,Manufacturing/Construction,N2O,MtCO₂e,2.18,2.23,2.03,2.03,2.04,2.08,2.07,...,2.47,1.50,1.43,1.31,1.35,1.31,1.32,1.48,1.52,1.54
17,Manufacturing/Construction,CH4,MtCO₂e,1.37,1.40,1.27,1.26,1.27,1.29,1.29,...,1.52,0.91,0.87,0.79,0.81,0.78,0.78,0.88,0.90,0.91
18,Electricity/Heat,CH4,MtCO₂e,1.23,1.29,1.26,1.30,1.35,1.40,1.36,...,1.63,2.31,2.30,2.14,2.04,2.10,2.03,2.04,1.96,1.95
19,Building,N2O,MtCO₂e,1.14,1.05,0.88,0.93,1.03,1.23,1.18,...,1.09,1.17,1.16,1.38,1.34,1.28,1.31,0.58,0.59,0.60
20,Industrial Processes,CH4,MtCO₂e,0.28,0.28,0.28,0.28,0.21,0.16,0.11,...,0.39,0.40,0.41,0.39,0.36,0.35,0.34,0.28,0.29,0.29

In [8]:
# Change years from columns to rows

usa_em_df=pd.melt(df, id_vars=["Sector", "Gas", "Unit"], var_name="Year", value_name="Emission")
usa_em_df

                         Sector  Gas    Unit  Year  Emission
0                        Energy  CO2  MtCO₂e  2019   4776.82
1              Electricity/Heat  CO2  MtCO₂e  2019   1958.27
2                Transportation  CO2  MtCO₂e  2019   1757.35
3                      Building  CO2  MtCO₂e  2019    550.59
4    Manufacturing/Construction  CO2  MtCO₂e  2019    439.05
..                          ...  ...     ...   ...       ...
625  Manufacturing/Construction  N2O  MtCO₂e  1990      1.54
626  Manufacturing/Construction  CH4  MtCO₂e  1990      0.91
627            Electricity/Heat  CH4  MtCO₂e  1990      1.95
628                    Building  N2O  MtCO₂e  1990      0.60
629        Industrial Processes  CH4  MtCO₂e  1990      0.29

[630 rows x 5 columns]

In [9]:
usa_em_df.shape

(630, 5)

In [10]:
#Check for missing values
usa_em_df.isnull().sum()

Sector      0
Gas         0
Unit        0
Year        0
Emission    0
dtype: int64

In [11]:
# Open a file in write mode
with open('USA_Emissions_History.csv', 'w', encoding='utf-8') as f:
    
    # Save the dataframe to the file 
    usa_em_df.to_csv(f, index= False)

In [12]:
#create the connection to the PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/GHG_emissions"

#create the db engine
engine = create_engine(db_string)
    
# Load our datafrme into sql
usa_em_df.to_sql(name='USA_Emissions_History', con=engine, index= False, if_exists='replace')